<!doctype html>
<html lang="en">
  <head>
    {{> meta }}

  </head>
  <body>

    {{> header }}

    <section class="body about">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="content">
              <!-- <h1>about</h1> -->
              <h1>hello!</h1>
              <p>
                My name is Jill Vanc, I am a freelance motion designer based in Los Angeles, CA.<br>
                I’m obsessed with bringing things to life using various design and animation techniques.</br>
                My background in cinematography and video editing has helped me search for a story in everything I do.<br>
                I enjoy creative problem solving and creating original content. </br>
                Most recently I worked as a full-time animator at Media Arts Lab.</br>
                I have also had the privilege to work with many high-profile clients and brands, including Apple,<br>
                Ogilvy &amp; Mather, CDW, Unilever, Accenture, USAA, SC Johnson, UPS, Pinnacle Vodka,<br>
                American Family Insurance as well as new businesses and startups.
              </p>

              <div class="about-logo-menu">
                <span class="logo-buttom"><img src="images/apple.svg" title="apple"></span>
                <span class="logo-buttom size-2" style="padding-top: 10px"><img src="images/ogilvy.svg" title="ogilvy"></span>
                <span class="logo-buttom size-2"><img src="images/cdw.svg" title="cdw"></span>
                <span class="logo-buttom"><img src="images/unilever.svg" title="unilever"></span>
                <span class="logo-buttom size-3"><img src="images/accenture.svg" title="accenture"></span>
                <span class="logo-buttom"><img src="images/usaa.svg" title="usaa"></span>
                <span class="logo-buttom size-3"><img src="images/scjohnson.svg" title="scjohnson"></span>
                <span class="logo-buttom"><img src="images/ups.svg" title="ups"></span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    {{> footer }}
    {{> footerMeta }}
  </body>
</html>
