<!doctype html>
<html lang="en">
  <head>
    {{> meta }}

  </head>
  <body>

    {{> header }}

    <section class="body contact">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="content">
              <!-- <h1>contact</h1> -->
              <p>
                I’m available for hire on-site or remotely world wide.<br>
                Please contact me if you’d like to discuss a future project.<br>
                <br>
                <a href="mailto:jill@jillvanc.com" title="jill@jillvanc.com">jill@jillvanc.com</a>

              </p>

              <div class="contact-logo-menu">
                <a href="https://www.linkedin.com/in/jill-vanc-1b400a11/" class="logo-buttom"><img src="images/linkedin.svg" title="linkedin"></a>
                <a href="https://dribbble.com/jill" class="logo-buttom"><img src="images/dribble.svg" title="dribbble"></a>
                <a href="https://www.instagram.com/jillvanc/" class="logo-buttom"><img src="images/instagram.svg" title="instagram"></a>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="columns">
          <div class="column is-one-third">

            <div class="field">
              <label class="label">name</label>
              <div class="control">
                <input class="input" type="text" placeholder="your name">
              </div>
            </div>

            <div class="field">
              <label class="label">email</label>
              <div class="control">
                <input class="input" type="text" placeholder="your email address">
              </div>
            </div>

          </div>
          <div class="column">

            <div class="field">
              <label class="label">subject</label>
              <div class="control">
                <input class="input" type="text" placeholder="subject">
              </div>
            </div>

            <div class="field">
              <label class="label">message</label>
              <div class="control">
                <textarea class="textarea" placeholder="your note"></textarea>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-primary">send</button>
              </div>
              <div class="control">
                <button class="button is-link">clear</button>
              </div>
            </div>

          </div>
        </div> -->

      </div>
    </section>

    {{> footer }}
    {{> footerMeta }}
  </body>
</html>
