<section class="section footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-quarter">
        <p>&copy; Jill Vanc 2017</p>
      </div>
      <div class="column">

        <div class="tabs is-right is-small">
          <ul>
            <li class="{{active slug showSubmenu}}"><a href="/work" title="work">work</a></li>
            <li class="{{active slug 'about'}}"><a href="/about" title="about">about</a></li>
            <li class="{{active slug 'contact'}}"><a href="/contact" title="contact">contact</a></li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</section>


<!-- <p class="menu-label">
  Administration
</p>
<ul class="menu-list">
  <li><a>Team Settings</a></li>
  <li>
    <a class="is-active">Manage Your Team</a>
    <ul>
      <li><a>Members</a></li>
      <li><a>Plugins</a></li>
      <li><a>Add a member</a></li>
    </ul>
  </li>
  <li><a>Invitations</a></li>
  <li><a>Cloud Storage Environment Settings</a></li>
  <li><a>Authentication</a></li>
</ul>
<p class="menu-label">
  Transactions
</p>
<ul class="menu-list">
  <li><a>Payments</a></li>
  <li><a>Transfers</a></li>
  <li><a>Balance</a></li>
</ul> -->
