<section class="hero header">
  <div class="hero-body">
    <div class="container">

      <div class="columns is-mobile is-centered logo-container">
        <div class="column is-one-quarter">
          <logo>
              <h1>JILL VANC</h1>
              <tagline>design &amp; motion</tagline>
          </logo>
        </div>
      </div>

      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">

          <div class="navbar-start">
            <a href="/products" title="products" class="navbar-item {{active slug 'products'}}">products</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a href="/work" title="work" class="navbar-link  {{active slug showSubmenu}}">work</a>

              <div class="navbar-dropdown is-boxed">
                <a href="/work/media-arts-lab" title="work - media arts lab" class="navbar-item {{active slug 'media-arts-lab'}}">media arts lab</a>
                <a href="/work/siver-pickle" title="work - silver pickle" class="navbar-item {{active slug 'silver-pickle'}}">silver pickle</a>
                <a href="/work/go-pro" title="work - go pro" class="navbar-item {{active slug 'go-pro'}}">go pro</a>
                <a href="/work/ogilvy-and-mather" title="ogilvy and mather" class="navbar-item {{active slug 'ogilvy-and-mather'}}">ogilvy &amp; mather</a>
              </div>

            </div>
            <a href="/about" title="about" class="navbar-item {{active slug 'about'}}">about</a>
            <a href="/contact" title="contact" class="navbar-item {{active slug 'contact'}}">contact</a>

            <button class="button navbar-burger">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </nav>

      <!-- <div class="tabs main is-centered is-medium">
        <ul>
          <li class="{{active slug showSubmenu}} has-dropdown is-hoverable">
            <a href="/work" title="work">work</a>

            <div class="navbar-dropdown is-boxed">
              <a href="/work/media-arts-lab" title="work - media arts lab" class="navbar-item {{active slug 'media-arts-lab'}}">media arts lab</a>
              <a href="/work/siver-pickle" title="work - silver pickle" class="navbar-item {{active slug 'silver-pickle'}}">silver pickle</a>
              <a href="/work/go-pro" title="work - go pro" class="navbar-item {{active slug 'go-pro'}}">go pro</a>
              <a href="/work/ogilvy-and-mather" title="ogilvy and mather" class="navbar-item {{active slug 'ogilvy-and-mather'}}">ogilvy &amp; mather</a>
            </div>

          </li>
          <li class="{{active slug 'about'}}"><a href="/about" title="about">about</a></li>
          <li class="{{active slug 'contact'}}"><a href="/contact" title="contact">contact</a></li>
        </ul>
      </div> -->



      <!-- <div class="tabs work is-centered is-second-level {{ active slug showSubmenu }}">
        <ul>
          <li class="{{active slug 'media-arts-lab'}}"><a href="/work/media-arts-lab" title="work - media arts lab">media arts lab</a></li>
          <li class="{{active slug 'silver-pickle'}}"><a href="/work/siver-pickle" title="work - silver pickle">silver pickle</a></li>
          <li class="{{active slug 'go-pro'}}"><a href="/work/go-pro" title="work - go pro">go pro</a></li>
          <li class="{{active slug 'ogilvy-and-mather'}}"><a href="/work/ogilvy-and-mather" title="ogilvy and mather">ogilvy &amp; mather</a></li>
        </ul>
      </div> -->

    </div>
  </div>
</section>
