<!doctype html>
<html lang="en">
  <head>
    {{> meta }}

  </head>
  <body>

    {{> header }}

    <section class="body products">
      <div class="container">
        <div class="columns">
          <div class="column aprons-title">
            <img src="images/aprons/Margots.png" class="page-title" alt="Margots" />
            <br/>
            <img src="images/aprons/apron-project.png" class="page-subtitle" alt="project" />
          </div>
        </div>
        <div class="columns is-variable is-1">
          <div class="column is-12">
            <img src="images/ourstory/hero-image.png" alt="our aprons" />
          </div>
        </div>
        <div class="columns is-12">
          <div class="column button-column">
            <div class="buy-button">
              <a href="https://www.etsy.com/shop/hermitproject?ref=simple-shop-header-name&listing_id=862937304" title="For sale on Etsy" class="storelink"><span>For sale on <span class="etsy-logo">Etsy</span></span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="body our-story">
      <div class="container">
        <div class="columns">
          <div class="column our-story-column">
            <h1>Our story</h1>
            <p>This is one of my favorite projects because it was a collaboration with my three year old daughter Margot.</p>

            <p>She reached the phase of questioning absolutely everything in the world and one of the questions was about my work. She asked: What&apos;s your job? What do you like to do? What is design, etc.?</p>

            <p>I told her that I love to tell stories and bring the things I love to life.</p>
            <p>She looked a bit confused so I thought it would be a neat idea to show her how that could translate into something tangible.</p>

            <p>Margot loved going to a Montessori playgroup called <a href="https://www.jacarandatreemontessori.nl/" title="Jacaranda Tree">Jacaranda Tree</a> in Amsterdam. Unfortunately, we stopped going because I was approaching my ninth month of pregnancy with my second child and was so huge that I wasn’t capable of leaving the house. She was sad about it so I thought it would cheer her up if we talked about the things she liked in her class.</p>

            <p>She said she loved when they prepared fruit snacks, making orange juice, peeling and cutting bananas and eating apples.</p>
            <p>So we started having fun drawing these three fruits.</p>

            <img src="images/ourstory/story-image-1.png" alt="pattern sketches" />

            <p>
              I took photos of our sketches and traced them on my computer, made a simple repeat pattern out of them and sent them to a print shop.
            </p>

            <img src="images/ourstory/story-image-2.png" alt="first prints on fabric" />
            <p>
              Margot was so excited to see them printed out on a large canvas. They were big and bold and really outlined a child&apos;s perspective.
            </p>

            <p>
              I wanted to figure out a way she could use the fabric, we do so much cooking, gardening and arts a crafts that I figured some sort of apron or smock is always needed.
            </p>

            <p>
              I sent some apron designs to a talented seamstress I met close to my home town in the Czech Republic ans she totally nailed it! Together we worked on creating two different styles. One style has an elastic neck band and a velcro belt that is very Montessori since Margot can put this one on all by herself.
            </p>

            <img src="images/ourstory/story-image-3.png" alt="ELASTIC BAND WITH VELCRO BELT" />
            <span class="image-label">ELASTIC BAND WITH VELCRO BELT</span>
            <p>
              The second style is a cross back smock apron, I always loved smocks with pockets and found the crossback style very classy, plus it covers a lot of the body area which makes it great for more messy activites like gardening and art work but she still needs a little assistance when putting it on.
            </p>
            <img src="images/ourstory/story-image-4.png" alt="CROSSBACK" />
            <span class="image-label">CROSSBACK</span>

            <p>
              Margot and I love them so much, she wears these aprons almost everyday.
            </p>
            <p>
              She calls them her happy fruits and I think it gives us both pleasure to see how her Montessori playgroup fruits came to life. I received so much positive feedback and inquires about selling them. The reactions were so hartwarming and I loved the thought of sharing them with other childen around the world so I decided to create more of them and named them “Margot” and they are now for sale on Etsy. Would love to see your little muchkins in the aprons and what kind of activities you do in your home. Share your apron moments on instagram with <b>#happyfruitaprons</b>
            </p>
          </div>
        </div>
      </div>
    </section>

    {{> footer }}
    {{> footerMeta }}
    <script src="js/products.js" type="application/javascript" async>
  </body>
</html>
