<!doctype html>
<html lang="en">
  <head>
    {{> meta }}

  </head>
  <body>

    {{> header }}

    <section class="section body work go-pro">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="content">
              <h1>go pro</h1>
              <p>
                This is a personal project where I married two of my obsessions: gopros &amp; pictograms <br>
                I’ve shot and watched hours of breathtaking images shot on gopro cameras.<br>
                I wanted to create an animated story that shows how these cameras help us perceive and share the world in a new way. <br>
                I also love infographics and pictograms, the power of communicating an idea with a single image fascinates me so this became the look and feel for the video.
              </p>
            </div>

            <div class="video">
              <iframe src="https://player.vimeo.com/video/110510271" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            <div class="content">
              <br><br>
              <p>
                Super excited that the founder of GoPro enjoyed the video and gave me a shout-out!
              </p>
              <blockquote class="no-line">
                "This is awesome! I love how you told the story of how the shared experiences (content) goes on to inspire the viewer to get off their couch and go get a GoPro to capture and share their own lives. You nailed it! I'm sharing this with our team...love it and thank you for sharing with me."
                <br><br>
                <div class="signature">
                  -Nicholas Woodmam, founder and CEO of GoPro
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{> footer }}
    {{> footerMeta }}
  </body>
</html>
