<!doctype html>
<html lang="en">
  <head>
    {{> meta }}

  </head>
  <body>

    {{> header }}

    <section class="section body work ogilvy-and-mather">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="content">
              <h1>Ogilvy &amp; Mather</h1>

              <p>
                I worked in Ogilvy Chicago’s in house department for 5 years. <br>
                During my time at Ogilvy I had the opportunity to collaborate with extremely talented people. My role was to shoot, edit and animate content for new business pitches, online promotional videos, sizzle reels and commercials.I worked on many amazing brands such as Dove, Suave, Huggies, CDW, UPS, American Family Insurance, Popmoney, Pinnacle Vodka, SC Johnson, Arrow Electronics, CDW, UPS and the Steppenwolf Theater.
              </p>

              <h2 class="subtitle">Digital Divas</h2>
              <div class="video">
                <iframe src="https://player.vimeo.com/video/94623990" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>

              <h2 class="subtitle">Popmoney</h2>
              <div class="video">
                <iframe src="https://player.vimeo.com/video/94622760" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>

              <h2 class="subtitle">Button wall</h2>
              <div class="video">
                <iframe src="https://player.vimeo.com/video/57811935" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>

              <h2 class="subtitle">Push Pin</h2>
              <div class="video">
                <iframe src="https://player.vimeo.com/video/57815208" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>

              <h2 class="subtitle">Steppenwolf theater</h2>
              <div class="video">
                <iframe src="https://player.vimeo.com/video/231383209" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>

    {{> footer }}
    {{> footerMeta }}
  </body>
</html>
