<!doctype html>
<html lang="en">
  <head>
    {{> meta }}

  </head>
  <body>

    {{> header }}

    <section class="section one body work media-arts-lab">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="content">
              <h1>media arts lab</h1>
              <p>
                I worked as a full-time animator in the digital department and had the opportunity to work on various global and local campaigns. These projects came together in collaboration with other animators, designers, art directors, creatives and&nbsp;producers.
              </p>
            </div>
          </div>
        </div>
      <!-- </div>
    </section>

    <section class="section two body work media-arts-lab">
      <div class="container"> -->
        <div class="columns">
          <div class="column">
            <div class="content">
              <h2 class="subtitle">digital banner ads</h2>
            </div>
            <div class="video">
              <iframe src="https://player.vimeo.com/video/218571564" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">

            <div class="video">
              <iframe src="https://player.vimeo.com/video/218572301" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>

      <!-- </div>
    </section>

    <section class="section three body work media-arts-lab">
      <div class="container"> -->
        <div class="columns">
          <div class="column">
            <div class="content">
              <h2 class="subtitle">itunes promotions</h2>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="video iphone">
              <iframe src="https://player.vimeo.com/video/229676435" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
          <div class="column">
            <div class="video iphone">
              <iframe src="https://player.vimeo.com/video/222058685" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="video">
              <iframe src="https://player.vimeo.com/video/218571115" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      <!-- </div>
    </section>

    <section class="section four body work media-arts-lab">
      <div class="container"> -->
        <div class="columns">
          <div class="column">
            <div class="content">
              <h2 class="subtitle">broadcast</h2>
            </div>
            <div class="video">
              <iframe src="https://player.vimeo.com/video/222058708" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      <!-- </div>
    </section>

    <section class="section five body work media-arts-lab">
      <div class="container"> -->
        <div class="columns">
          <div class="column">
            <div class="content">
              <h2 class="subtitle">think different campaign</h2>
            </div>
            <div class="content has-text-centered">
              <img src="/images/td_instagram_black_v2_x264_r3_V4.gif" alt="Think Different campaign" >
            </div>
          </div>
        </div>
      </div>
    </section>

    {{> footer }}
    {{> footerMeta }}

  </body>
</html>
