<!doctype html>
<html lang="en">
  <head>
    {{> meta }}

  </head>
  <body>

    {{> header }}

    <section class="section body work">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="video">
                <iframe src="https://player.vimeo.com/video/235640332" class="content" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section body work button-menu">
      <div class="container">
        <div class="columns">
          <div class="column is-half">
            <a href="/work/media-arts-lab" title="Media Arts Lab">
              <img src="images/bear_icon_web.png" title="reel" width="100%" height="auto" class="static">
              <img src="images/bear_icon_web.gif" title="reel" width="100%" height="auto" class="moving">
            </a>
          </div>
          <div class="column is-half">
            <a href="/work/siver-pickle" title="Silver Pickle">
              <img src="images/chicken_icon_web.png" title="reel" width="100%" height="auto" class="static">
              <img src="images/chicken_icon_web.gif" title="reel" width="100%" height="auto" class="moving">
            </a>
          </div>
        </div>

        <div class="columns">
          <div class="column is-half">
            <a href="/work/go-pro" title="Go Pro">
              <img src="images/gopro_icon_web.png" title="reel" width="100%" height="auto" class="static">
              <img src="images/gopro_icon_web.gif" title="reel" width="100%" height="auto" class="moving">
            </a>
          </div>
          <div class="column is-half">
            <a href="/work/ogilvy-and-mather" title="Ogilvy &amp; Mather">
              <img src="images/pipe_icon_web.png" title="reel" width="100%" height="auto" class="static">
              <img src="images/pipe_icon_web.gif" title="reel" width="100%" height="auto" class="moving">
            </a>
          </div>
        </div>
      </div>
    </section>

    {{> footer }}
    {{> footerMeta }}

  </body>

</html>
